<div class="row">
    <div class="col-md-6 mx-auto pt-4">
        <div class="card text-dark shadow" id="post-link" data-id={{this.id}} data-user={{this.user.username}}>
            <div class="card-header">
                {{#if this.myBlog}}
                <div class="row">
                    <h1 class="col-11 mx-auto">{{this.title}}</h1>
                    <div class="col-1 d-flex justify-content-end">
                        <div class="dropdown dropleft">
                            <button class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-post-card mr-0" type="button" data-toggle="dropdown" aria-expanded="false" data-id={{this.id}}></button>
                            <div class="dropdown-menu" id="dropdown-menu-{{this.id}}">
                                <button class="dropdown-item mx-auto edit-post-btn" type="button" data-id={{this.id}}>Edit this post</button>
                                <button class="dropdown-item mx-auto del-post-btn" type="button" data-id={{this.id}} data-user={{this.user.id}}>Delete this post</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <h1>{{this.title}}</h1>
                {{/if}}
                <p>Created {{format_date this.createdAt}}</p>
            </div>
            {{!-- <div class="card-body d-grid gap-2 d-md-block">
                <button class="btn btn-primary delete-btn" id={{this.id}} type="button" style="margin-top: -100px; margin-right: 6px; padding-left: 16px; float: right;">Delete</button>
                <br>
                <button class="btn btn-primary edit-btn" id={{this.id}} type="button" style="margin-top: -124px; margin-right: 89px; padding-left: 15px; padding-right: 12px; float: right;">Edit</button>
            </div> --}}
            <div class="card-body text-truncate">
                {{this.post_body}}
            </div>
            <div class="card-footer">
                <span>{{num_of_comments this.comments}}</span>
            </div>
        </div>
    </div>
</div>

<style>
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: all 0.3s ease;
  }
  h3 {
    font-family: 'Amatic SC', cursive;
    {{!-- font-family: 'Macondo', cursive; --}}
  }
    .card-header {
        background: beige;
    }
    .card-body {
        background:blanchedalmond;
    }
    .card-footer {
        background: burlywood;
    }
</style>


