{{!-- blog body --}}
<div class="container">
	<div class="row">
        <div class="col-md-10 mx-auto text-left mt-5">
            <div class="card text-dark shadow">
                <div class="card-header">
                    {{#if post.myBlog}}
                    <div class="row">
                        <h1 class="col-11 mx-auto">{{ post.title }}</h1>
                        <div class="col-1 d-flex justify-content-end">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-secondary dropdown-toggle mr-0" type="button" data-toggle="dropdown" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item mx-auto edit-post-btn" type="button" data-id={{post.id}}>Edit this post</button>
                                    <button class="dropdown-item mx-auto del-post-btn" type="button" data-id={{post.id}} data-user={{post.user.id}}>Delete this post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <h1>{{ post.title }}</h1>
                    {{/if}}
                    <p>Written by <strong><a href="/u/{{post.user.username}}">{{ post.user.username }}</a></strong> - <strong>{{ format_date post.createdAt }}</strong></p>
                </div>
                <div class="card-body">
                    <p>{{ post.post_body }}</p>
                </div>
                <div class="card-footer">
                    {{#each comments}}
                        {{> card-comment}}
                    {{/each}}
                    {{#if loggedIn}}
                        {{#if post.allow_comments}}
                            {{> form-comment }}
                        {{else}}
                        <p><em>Comments are turned off for this post.</em></p>
                        {{/if}}
                    {{else}}
                        <p><em>Please <a href="/login">log in</a> to be able to post comments.</em></p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    h1 {
        font-family: 'Amatic SC', cursive;
        {{!-- font-family: 'Macondo', cursive; --}}
    }
    .card-header {
        background: beige;
    }
    .card-body {
        background:blanchedalmond;
    }
    .card-footer {
        background: burlywood;
    }
    
</style>